
.col-lg-6 { 
  position: relative;
  display: flex;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}



.icon-block {
    padding: 0 15px;
  }

#supportimg {
  border-radius: 50%;
}


.icon-block .material-icons {
    font-size: inherit;
  }

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  #title{
    font-size: 32px;
    font-weight: 800;
    font-family: 'Permanent Marker', cursive;

  }
  .sub-title{
    font-size: 26px;
    font-weight: 200;
    color: #3f863e;
  }

  #methodology{
    font-family: 'Permanent Marker', cursive;
  }

  #supportfunction{
    font-family: 'Permanent Marker', cursive;
  }

  .list{
    margin-left: 16px;
  }
  ul:not(.browser-default) > li{
    list-style-type: none;
  }
  .fixed-action-btn {
    position: fixed;
    right: 23px;
    bottom: 23px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 997;
  }
  .fixed-action-btn ul:not(.browser-default) > li{
    list-style-type: none;
  }
  .btn-floating.btn-large {
    width: 56px;
    height: 56px;
    padding: 0;
  }
  .button-green{
    color: green;
  }
  #add-client-btn{
    position: absolute;
    right: -22px;
    bottom: 26px;
    cursor: pointer;
  }
  #add-client-container{
    position: relative;
  }
