{% extends 'base.html' %}

{% block content %}

{% if error %}
{{ error}}
<br />
<br />
{% endif %}

{% load static %}

<style>
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
</style>

<body class="center">
  <br/>
  <h3 class="h3 mb-3 font-weight-normal">Login</h3>

  <form class="form-signin" method="POST" action="{% url 'login' %}">
  {% csrf_token %}
    <input class="form-control" placeholder="Username" required autofocus type="text" name="username" />
    <input class="form-control" placeholder="Password" required autofocus type="password" name="password" />
    <br />
    <br/>
    <button class="btn waves-effect waves-light" type="submit" value="Login">Login</button>
  </form>
</body>

{% endblock %}
